@import '~/style/_variables';

.item {
  min-height: 32px;
  border-bottom: 1px solid $grey-light;
  padding: 12px 6px;
  display: flex;

  .title {
    font-size: larger;
    font-weight: 600;
  }

  .description {
    font-size: smaller;

    p {
      margin: 5px 0;
    }
  }

  .password {
    font-size: large;
  }

  .update {
    margin-left: auto;
    margin-right: 32px;
  }

  .showPassword {
    margin-left: 10px;
  }

  &:hover {
    background-color: $grey-light;
  }
}
